<h1><%= @list.name %></h1>
<p>Movies in list</p>
<%# <% if @list.photo =! nil %> %>
  <%= cl_image_tag @list.photo.key, height: 300, width: 400, crop: :fill %>
<%# <% end %>  %>
<% @movies.each do |movie| %>
  <div>
    <%= movie.title %>
    <%= link_to "delete", bookmark_path(@bookmarks[@movies.index(movie)]), method: :delete, data: { confirm: "Are you sure?"} %>
  </div>
<% end %>
<br>
<br>
<h3> <p>Add movie</p> </h3>
<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.input :comment %>
  <%= f.association :movie %>
  <%= f.button :submit %>
<% end %>


<%= link_to "Go back to lists", lists_path %>
